html {
    background-color: darkslategray;
}

img {
    border-radius: 100px;
    position: absolute;
    left: 25vw;
    top: 25vh;
    width: 50vw;
}

h1 {
    background-color: brown;
    position: absolute;
    left: 38.5vw;
    top: 25vh;
    padding: 1%;
    width: 20.5vw;
    border-radius: 20px;
    font-family: "DynaPuff";
    font-size: 1.2vw;
}

#random-text {
    background-color: goldenrod;
    position: absolute;
    left: 27vw;
    top: 40vh;
    padding: 1%;
    width: 10vw;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7vw;
}

button {
    position: absolute;
    left: 53vw;
    top: 60vh;
    padding: 1%;
    width: 8vw;
    border-radius: 20px;
    background-color: darksalmon;
    font-family: "DynaPuff";
    font-size: 0.7vw;
}

button:hover {
    background-color: goldenrod;
}

button:active {
    background-color: brown;
}

footer {
    position: absolute;
    left: 60vw;
    top: 78vh;
    font-size: 0.7vw;
}